<a href="https://colab.research.google.com/github/mariananlemos/combinandodataframes/blob/main/combinandodataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                   index=[0, 1, 2, 3])

In [ ]:
import pandas as pd
df2 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                   index=[4, 5, 6, 7])

In [ ]:
import pandas as pd
df3 = pd.DataFrame({'A':['A0', 'A1', 'A2', 'A3'],
                    'B':['B0', 'B1', 'B2', 'B3'],
                    'C':['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                   index=[8, 9, 10, 11])

In [ ]:
df1

In [ ]:
df2

In [ ]:
df3

In [ ]:
import pandas as pd

cadastro_a = {'Id': ['AA2930', 'BB4563', 'CC2139', 'DE2521', 'GT3462', 'HH1158'],
              'Nome': ['Victor', 'Amanda', 'Bruna', 'Carlos', 'Ricardo', 'Maria'],
              'Idade': [20,35,40,54,30,27],
              'CEP': ['00092-029', '11111-111', '22222-888', '00000-999', '88888-111', '77777-666']
              }
cadastro_a = pd.DataFrame(cadastro_a, columns = ['Id', 'Nome', 'Idade', 'CEP'])
cadastro_a

cadastro_b = {'Id': ['CC9999', 'EF4488', 'DD9999', 'GT3462', 'HH1158'],
              'Nome': ['Marcos', 'Patricia', 'Ericka', 'Ricardo', 'Maria'],
              'Idade': [19,30,22,30,27],
              'CEP': ['33333-333', '22222-222', '44444-444', '88888-111', '77777-666']
              }
cadastro_b = pd.DataFrame(cadastro_b, columns = ['Id', 'Nome', 'Idade', 'CEP'])
cadastro_b

pd.merge(cadastro_a, cadastro_b[['Id', 'Idade', 'CEP']], on=['Id'], how="inner")

pd.merge(cadastro_a, cadastro_b[['Id', 'Idade', 'CEP']], on=['Id'], how="inner", suffixes=('_A', '_B'))

pd.merge(cadastro_a, cadastro_b, on=["Id"], how="inner")


lojas = pd.concat([cadastro_a, cadastro_b], ignore_indez=True)
clientes_unicos = lojas.drop_duplicates(subset='Id')
clientes_unicos

       Id   Nome_x  Idade_x      CEP_x   Nome_y  Idade_y      CEP_y
0  GT3462  Ricardo       30  88888-111  Ricardo       30  88888-111
1  HH1158    Maria       27  77777-666    Maria       27  77777-666

In [ ]:
compras = {'Id': ['AA2930''AA2930', 'BB4563', 'CC2139', 'DE2521', 'GT3462', 'HH1158'],
           'Data': ['2019-01-01', '2019-01-30', '2019-01-30', '2019-02-01', '2019-02-20', '2019-03-15', '2019-04-01', '2019-04-10'],
           'Valor': [200,100,40,150,300,25,50,500]
}
compras = pd.DataFrame(compras, columns = ['Id', 'Data', 'Valor'])
compras

In [ ]:
#pd.merge(tabela_da_esquerda, tabela_da_direita, on="coluna_coincidente", how="left|right|inner|outer")

In [ ]:
?pd.merge()

merge e groupby

In [ ]:
pd.merge(cadastro_a, compras, on=['Id'], how='left')

In [ ]:
esquerda = pd.merge(cadastro_a, compras, on=['Id'], how='left')
esquerda.groupby(['Id', 'Nome'])['Valor'].sum()

In [ ]:
pd.merge(cadastro_a, cadastro_b, how='outer', on=['Id'], indicator=True)

In [ ]:
import numpy as np

v = [22,55,7,9]

In [ ]:
v[2]

In [ ]:
v[0]

indexações

In [ ]:
import pandas as pd

arrays =[[1,1,2,2], ['red', 'blue', 'red', 'blue']]
pd.MultiIndex.from_arrays(arrays, names=('number', 'color'))

In [ ]:
numbers = [0,1,2]
colors = ['green', 'purple']

pd.MultiIndex.from_product([numbers, colors],
                           names=('number', 'color'))

reshapin dados

In [ ]:
import pandas as pd
import numpy as np

datas = pd.date_range('20200101', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=datas, columns=['Var_A', 'Var_B', 'Var_C', 'Var_D'])

In [ ]:
df.T

In [ ]:
df.shape

In [ ]:
dft.shape

In [ ]:
dft.values

In [ ]:
v = dft.values
v.reshape((2,12))

função pivot

In [ ]:
import pandas as pd
import numpy as np

dias = pd.data_range(start='20190101', periods=12)

Pessoa = ['George', 'Victor', 'Lucas']
np.random.choice(Pessoa)

In [ ]:
Nome=[]
Gasto=[]
for i in range(12):
  Nome.append(np.random.choice(Pessoa))
  Gasto.append(np.random.rand()*100)

In [ ]:
df = pd.DataFrame({'Dia':dias,'Nome':Nome, 'Gasto':Gasto})

In [ ]:
df.pivot(index='Dia', columns='Nome', values='Gasto')

In [ ]:
import pandas as pd

Carros =[7, 4, 3, 2, 8]

dias = pd.date_range('20190101','20190101', periods=5)

vendedor = ['George', 'Vagner', 'Pedro', 'Vagner', 'George']

df = pd.DataFrame({'Vendas':Carros, 'Data':dias, 'Vendedor':vendedor})

pd.pivot(df, index='Data',columns='Vendedor', values='Vendas')
pd.pivot_table(df, index='Data',columns='Vendedor', values='Vendas',aggfunc='sum' )

In [ ]:
stack_df = df.stack

In [ ]:
udf = stack_df.unstack()

In [ ]:
import pandas as pd

data = {
    "localizacao":['CidadeA', 'CidadeB'],
    "Temperatura" : ["Prevista", "Atual"],
    "Set-2019":[30, 32],
    "Out-2019":[45, 43],
    "Nov-2019":[24, 22]
}
print(data)

df = pd.DataFrame(data, columns=['localizacao', 'Temperatura','Set-2019', 'Out-2019', 'Nov-2019'])
print(df)

df2 = pd.melt(df, id_vars=["localizacao", "Temperatura"], var_name="Data", value_name="Valor")
print(df2)

df3 = pd.melt(df, id_vars=["localizacao"], var_name="Data", value_name="Valor")
print(df3)

df2 = pd.melt(df, id_vars=["localizacao"], var_name="Date", value_name="Value")
print(df2)

In [ ]:
import pandas as pd
import numpy as np

datas = pd.date_range('20180101', periods = 600, freq="D")

df = pd.DataFrame(np.random.randn(600,5), index = datas, columns = list("ABCDE")) 

df.head(2)

df['D'].head(5)

df.head(10)

df[1:5]

df.loc[:, ['B','C','D']]

df.head(3)

f = df.loc['20180301':'20180917', ['A','E']]
len(f)
df.iloc[1:4, 1:3]
df.iloc[[1,5,6], [0, 3]]

df[df.A > 0]
df[df > 0]